/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

#welcome {
  color: rgb(80, 168, 80);
  margin-top: 46px;
  font-size: 29px;
}

.phrase, #question {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(80, 168, 80);
  padding: 20px;
  font-size: 67px;
}

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #ccc;
}

#emotion label {
    display: inline-block;
    cursor: pointer;
}

#emotion label img {
    padding: 3px;
}

.dis-non {
    display: none;
}

.form-inputs {
  width: 600px;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 24px;
  padding: 29px;
}

.mr-top{
 margin-top: 5px;
}

.main-form{
  text-align: center;
}

.text-align{
  text-align: center;
}

#response-btn {
  @extend .btn;
  @extend .btn-success;
  @extend .mr-top;
  width: 600px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(188, 224, 188);
  &:hover {
    color: rgb(214, 224, 210);
  }
}

.icons {
  margin-top: 10px;
  margin-bottom: 10px;
  label {
    cursor: pointer;
  }
}

.selected-vote, .icons label:checked img {
  background: rgb(220, 244, 220);
  border-radius: 56px;
  transition: background-color 0.5s linear;
}

.hovered-vote {
  width: 58px;
  height: 58px;
}

.icon-img {
  width: 85px;
  height: 85px;
  margin: 10px;
}

.text-areas{
  height: 80px;
}