#statistics {
  padding: 30px;

  .title {
    text-align: center;
  }

  #statistic-chart {
    height: 700px;
  }

  #meal-date-picker-conainer {
    color: rgb(80, 168, 80);
    font-size: 30px;
    float: right;
  }

  .bootstrap-datetimepicker-widget {
    .glyphicon {
      display: none;
    }

    table {
      th {
        height: 50px;
      }
      td.day {
        height: 40px;
        padding: 10px;
      }

    }
  }

}
